<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>DMP-Cars</title>
</head>
<body>

<form th:action="@{/car}" method="post">
    <label for="model">Model<input type="text" id="model" name="model"></label>
    <br/>
    <label for="yearOfProduction">Year of production<input type="date" name="yearOfProduction" id="yearOfProduction"></label>
    <br/>
    <label for="capacity">Capacity<input type="text" name="capacity" id="capacity"></label>
    <br/>
    <label for="powerKm">Power KM<input type="text" name="powerKm" id="powerKm"></label>
    <br/>
    <label for="price">Price<input type="text" name="price" id="price"></label>
    <br/>
    <label for="brand">Brand<input type="text" name="brand" id="brand"></label>
    <br/>
    <label for="color">Color<input type="text" name="color" id="color"></label>
    <br/>
    <label for="engine">Engine<input type="text" name="engine" id="engine"></label>
    <br/>
    <label for="type">Type<input type="text" name="type" id="type"></label>
    <be/>
    <label for="regNumber">Registry number<input type="text" name="regNumber" id="regNumber"></label>
    <br/>
    <label for="regVin">VIN<input type="text" name="regVin" id="regVin"></label>
    <br/>
    <input type="submit" id="submit" name="submit" value="Login">
</form>
</body>
</html>