<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>DMP-Cars</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" th:src="'https://code.jquery.com/jquery-3.3.1.js'"></script>
</head>
<body>
<script>
    $(document).ready(function(){
        $.get("/cars/cars", function (data) {
            ``
        });
    });
</script>
<div class="main">

    <div class="main-cars">

        <div id="carDisplay" class="cars-display">

        </div>

    </div>

</div>
</body>
</html>