<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>DMP-Cars</title>
</head>
<body>
<div class="main">
    <div class="main-menu">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/cars">Our cars</a></li>
            <div th:fragment="login" sec:authorize="isAnonymous()">
                <li><a href="/login">Login</a></li>
            </div>
            <div th:fragment="logout" sec:authorize="isAuthenticated()">
                <li><a href="/logout">Logout</a></li>
            </div>
            <div th:fragment="register" sec:authorize="isAnonymous()">
                <li><a href="/register">Register new User</a></li>
            </div>
            <div th:fragment="adminpanel" sec:authorize="hasRole('ADMIN')">
                <a href="/adminpanel">Admin panel</a>
            </div>
        </ul>
    </div>

    <div sec:authorize="isAuthenticated()">
        username <span sec:authentication="name"></span>
        roles <span sec:authentication="principal.authorities"></span>
    </div>
</div>
</body>
</html>